@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


/* Resetando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor0: #e3effc;
    --cor1: #98c4da;
    --cor2: #366CD9;
    --cor3: #1C00D9;
    --cor4: #0a14a1;
    --cor5: #01016b;
    --cor6: #080257;

    --font-especial: 'suse', sans-serif;
    --font-padrao: Arial, Helvetica, Sans-serif;

}

html{
    padding: 15px 0;
}

body {
    background-color: var(--cor0);
    box-shadow: 5px 5px 10px #012e4073;
    width: 800px;
    border-radius: 15px;
    margin: auto;
}

header {
    border-radius: 15px 15px 0 0;
    background: linear-gradient(to bottom, var(--cor0), var(--cor1), var(--cor2));
    text-align: center;
    border-bottom: 1px solid var(--cor5);
    box-shadow: 0 2px 5px #012e40ab;
}

.logotipo img {
    max-width: 150px;
    padding: 5px 0;
}

.text-header h1 {
    color: var(--cor5);
    font-family: var(--font-especial);
    font-weight: 600;
    text-shadow: 0px 3px 5px rgba(29, 27, 27, 0.192);
}

.text-header p{
    color: rgba(0, 0, 0, 0.548);
    font-family: var(--font-especial);
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    margin: auto;
    text-indent: 0;
    padding: 5px 40px 0 40px;
    margin: 0 20px;
}

.minha-foto img {
    max-width: 80px;
    border-radius: 50%;
    border: 1px solid var(--cor5);
    margin-bottom: 5px;
    margin-top: 5px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--cor2);
    box-shadow: 0 3px 5px rgba(26, 25, 25, 0.329);
}

.menu {
    display: flex;
    gap: 20px; /* Espaço entre os links */
}

.social-icons {
    padding-right: 15px;
    display: flex; /* Mantém os ícones na mesma linha */
    gap: 15px; /* Espaço entre os ícones */
}

.links {
    text-decoration: none;
    font-family: var(--font-especial);
    font-weight: 500;
    color: var(--cor6);
    font-size: 1.2rem;
    transition: 0.3s;
    padding: 10px;
}

.links:hover {
    border-radius: 10px;
    background-color: var(--cor4);
    color: var(--cor0);
}

.social-icons a {
    color: var(--cor6);
    font-size: 1.5rem;
    padding: 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: var(--cor0); /* Texto branco */
    border-radius: 10px;
}

main{
    margin: 10px 20px;
}
main h2{
    font-family: var(--font-especial);
    font-size: 1.7em;
    color: var(--cor4);
    padding-left: 2px;
    margin: 20px 0 15px 0;
    font-weight: 700;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    text-indent: 30px;
    padding: 5px 0;
}

main a{
    color: var(--cor3);
    font-weight: bold;
    text-decoration: none;

}
main a:hover{
    text-decoration: underline;
}

.personagens{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}

.personagens > img{
    max-height: 100px;
    max-width: 150px;
}

aside{
    width: 100%;
    
}

aside > p{
    font-family: var(--font-especial);
    font-size: 15px;
    text-indent: 0;
    text-align: center;
    padding: 10px 5px;
}

aside a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor3);
}

footer{
    width: 100%;
    background-color: var(--cor1);
    border-radius: 0 0 15px 15px;
}
footer > p{
    font-family: var(--font-especial);
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
    text-indent: 0;
}

.rodape > p{
    text-align: center;
}

@media (max-width: 816px) {
    body {
        width: 100%; /* Ocupa toda a largura da tela */
        border-radius: 0; /* Remove bordas arredondadas em telas pequenas */
        box-shadow: none; /* Remove sombras para um design mais limpo */
    }

    nav {
        flex-direction: column; /* Empilha os itens */
        align-items: center; /* Centraliza tudo */
        text-align: center;
    }

    .menu {
        flex-direction: row; /* Links em coluna */
        gap: 10px;
    }

    .social-icons {
        margin-top: 10px; /* Espaço entre links e ícones */
    }

    .minha-foto img {
        margin: 10px 0;
    }

    .personagens{
        display: inline-block;
        flex-wrap: wrap;
        gap: 10px;
        text-align: center;
    }

    footer{
        border-radius: 0;
    }

}


@media (max-width: 500px) {

    html{
        padding: 0;
    }

    body{
        border-radius: 0;
    }
    
    body{
        border-radius: 0;
    }

    .minha-foto img{
        max-width: 60px;
        text-align: center;
    }

    .text-header h1 {
        font-size: 1.6em;
    }

    .text-header p{
        font-size: 0.8em;
    }

    main h2{
        font-size: 1.5em;
    }

    .links{
        font-size: 18px;
    }

    footer{
        border-radius: 0;
    }

    footer p{
        font-size: 0.7em;
    }
}