@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f9; /* Cor de fundo suave */
    box-shadow: 5px 5px 15px #012e40ab;
    font-family: 'suse', sans-serif;
    width: 800px;
    border-radius: 15px;
    margin: auto;
}

.minha-foto{
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-around;
}

img{
    max-width: 120px;
    border-radius: 50%;
    border: 1px solid black;
}

header{
    background: linear-gradient(to top, #7784fc, #8ba4f7, rgb(161, 192, 248), rgb(184, 235, 255), rgb(228, 253, 255), rgb(242, 247, 255));
    padding: 10px 20px; 
    border-radius: 5px 10px 0 25px;
}

main{
    margin: 10px 20px;
}

h1{
    font-size: 2.5em;
    font-family: 'suse', sans-serif;
    color: rgb(4, 4, 139);
}

h2{
    font-size: 1.7em;
    color: rgb(9, 21, 201);
    padding-left: 2px;
    margin: 20px 0 15px 0;
    font-weight: 700;
}

main > article > p > a{
    font-weight: bold;
    text-decoration: none;
    color: rgba(6, 55, 218, 0.966)
}
p > a:hover{
    text-decoration: underline;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    text-indent: 30px;
    padding: 5px 0;
}

.botao-de-voltar{
    text-align: center;
}

.botao-de-voltar > a{
    color: rgb(9, 12, 179);
    font-size: 1.5rem;
    padding: 5px;
    transition: 0.3s;
}

.botao-de-voltar > a:hover{
    transition: transform 0.5s;
    background-color: rgb(9, 12, 179);
    color: white;
    border-radius: 10px;
}

footer{
    width: 100%;
    background-color: #afc0ffbe;
    border-radius: 0 0 15px 15px;
}

footer > p{
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
    text-indent: 0;
}

.rodape > p{
    text-align: center;
}

@media (max-width: 768px) {
    body {
        width: 100%; /* Ocupa toda a largura da tela */
        border-radius: 0; /* Remove bordas arredondadas em telas pequenas */
        box-shadow: none; /* Remove sombras para um design mais limpo */
    }

    footer{
        border-radius: 0;
    }

    .minha-foto{
        flex-direction: column;
    }

    img{
        max-width: 100px;
        justify-content: center;
    }

    h1{
        font-size: 1.5rem;
        margin-top: 5px;
        justify-content: center;
    }

    h2{
        font-size: 1.3rem;
    }

    p{
        font-size: 0.7em;
    }

}

