@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --cor0: #e3effc;
    --cor1: #98c4da;
    --cor2: #366CD9;
    --cor3: #1C00D9;
    --cor4: #0a14a1;
    --cor5: #01016b;
    --cor6: #080257;

    --font-especial: 'suse', sans-serif;
    --font-padrao: Arial, Helvetica, Sans-serif;

}

html{
    padding: 15px 0;
}

body {
    background-color: var(--cor0); /* Cor de fundo suave */
    box-shadow: 5px 5px 15px #012e40ab;
    width: 800px;
    border-radius: 15px;
    margin: auto;
}

header{
    background: linear-gradient(to bottom, var(--cor0), var(--cor1), var(--cor2));
    padding: 10px 20px; 
    border-radius: 15px 15px 0 0;
    box-shadow: 0 2px 5px #012e40ab;

}

header h1{
    font-size: 2.2em;
    font-family: var(--font-especial);
    color: var(--cor5);
}

.minha-foto{
    display: block;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

img{
    max-width: 100px;
    border-radius: 50%;
    border: 1px solid var(--cor5);
}

main{
    margin: 10px 20px;
}

main h2{
    font-family: var(--font-especial);
    font-size: 1.8em;
    color: var(--cor4);
    padding: 15px 5px;
    font-weight: 700;
}

main p{
    font-family: var(--font-padrao);
    font-size: 18px;
    text-align: justify;
    text-indent: 30px;
    padding: 5px 0;
    line-height: 1.5em;
}

main a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor3);
}
main a:hover{
    text-decoration: underline;

}

.botao-de-voltar{
    text-align: center;
}

.botao-de-voltar > a{
    color: var(--cor3);
    font-size: 1.5rem;
    padding: 5px;
    transition: 0.3s;
}

.botao-de-voltar > a:hover{
    transition: transform 0.5s;
    background-color: var(--cor3);
    color: white;
    border-radius: 10px;
}

footer{
    width: 100%;
    background-color: var(--cor1);
    border-radius: 0 0 15px 15px;
}

footer > p{
    font-family: var(--font-especial);
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
    text-indent: 0;
}

.rodape > p{
    text-align: center;
}

@media (max-width: 814px) {

    html{
        padding: 0;
    }

    body {
        width: 100%; /* Ocupa toda a largura da tela */
        border-radius: 0; /* Remove bordas arredondadas em telas pequenas */
        box-shadow: none; /* Remove sombras para um design mais limpo */
    }
     
    header{
        border-radius: 0;
    }

    footer{
        border-radius: 0;
    }

    .minha-foto{
        flex-direction: column;
    }

    img{
        max-width: 80px;
    }

    header h1{
        font-size: 1.8em;
    }

    main h2{
        font-size: 1.5em;
    }

    footer p{
        font-size: 0.7em;
    }

}

