@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 246, 198, 0.795);
    box-shadow: 5px 5px 15px #012e40ab;
    font-family: 'suse', sans-serif;
    width: 800px;
    border-radius: 15px;
    margin: auto;
}

#minha-foto{
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
}

img{
    max-width: 150px;
    border-radius: 50%;
    border: 1px solid black;
}

header{
    padding: 10px 20px; 
}

main{
    margin: 10px 20px;
}
h2{
    font-size: 1.7em;
    color: rgb(21, 21, 175);
    padding-left: 2px;
    margin: 20px 0 15px 0;
    font-weight: 700;
}

main > article > p > a{
    font-weight: bold;
    text-decoration: none;
    color: rgba(13, 75, 245, 0.966)
}
p > a:hover{
    text-decoration: underline;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    text-indent: 30px;
    padding: 5px 0;
}

footer{
    width: 100%;
    background-color: #afc0ffbe;
    border-radius: 0 0 15px 15px;
}

footer > p{
    font-size: 0.8em;
    padding: 5px;
    margin-left: -30px;
}

.rodape > p{
    text-align: center;
}

@media (max-width: 768px) {
    body {
        width: 100%; /* Ocupa toda a largura da tela */
        border-radius: 0; /* Remove bordas arredondadas em telas pequenas */
        box-shadow: none; /* Remove sombras para um design mais limpo */
        padding: 10px; /* Reduz o padding para economizar espaço */
    }

}

@media (max-width: 480px){

    body {
        width: 100%; /* Ocupa toda a largura da tela */
        border-radius: 0; /* Remove bordas arredondadas em telas pequenas */
        box-shadow: none; /* Remove sombras para um design mais limpo */
        padding: 10px; /* Reduz o padding para economizar espaço */
    }
}

