@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


/* Resetando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor0: #e3effc;
    --cor1: #98c4da;
    --cor2: #366CD9;
    --cor3: #1C00D9;
    --cor4: #0a14a1;
    --cor5: #01016b;
    --cor6: #080257;

    --font-especial: 'suse', sans-serif;
    --font-padrao: Arial, Helvetica, Sans-serif;

}

html{
    padding: 15px 0;
}

body {
    
    box-shadow: 5px 5px 10px #012e405e;
    width: 800px;
    border-radius: 15px;
    margin: auto;
}

header {
    border-radius: 15px 15px 0 0;
    background: linear-gradient(to top, var(--cor0), var(--cor1), var(--cor2));
    text-align: center;
    
    box-shadow: 0 2px 3px #012e4054;
}

.cabecalho{
    padding: 10px 0;
    margin: 0 10px;
}

.cabecalho h1{
    padding: 10px 0;
    font-family: var(--font-especial);
    font-size: 2.1em;
    text-align: center;
    color: var(--cor5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.39);
}

.cabecalho h2{
    font-family: var(--font-especial);
    color: var(--cor4);
    text-align: center;
    font-size: 1.7em;
}

.cabecalho p{
    text-align: center;
    padding: 10px 15px;
    font-family: var(--font-padrao);
    font-size: 14px;
    color: #0000009a;
}

main{
    margin: 0 10px;
    padding: 0 10px;
}

main h2{
    margin-top: 25px;
    background: linear-gradient(to right, var(--cor0), transparent);
    font-family: var(--font-especial);
    text-indent: 6px;
    color: var(--cor4);
    border-radius: 0 0 0 8px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
}

main p{
    padding: 10px 0;
    text-indent: 20px; 
    text-align: justify; 
    line-height: 1.5;
    font-size: 18px;
    font-family: var(--font-padrao);
}

.botao-de-voltar{
    text-align: center;
}

.botao-de-voltar > a{
    color: var(--cor2);
    font-size: 1.5rem;
    padding: 5px;
    transition: 0.3s;
}

.botao-de-voltar > a:hover{
    transition: transform 0.5s;
    background-color: var(--cor3);
    color: white;
    border-radius: 10px;
}

.texto-final{
    margin: 0 20px;
    padding: 10px 20px;
}

.texto-final > p{
    font-size: 1em;
    text-indent: 0;
}

.texto-final > p > a{
    text-decoration: none;
    color: var(--cor3);
}

.texto-final > p > a:hover{
    text-decoration: underline;
}

footer{
    border-radius: 0 0 15px 15px;
    width: 100%;
    background-color: var(--cor1);
}

footer > p{
    font-family: var(--font-especial);
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
    text-indent: 0;
}

.rodape > p{
    text-align: center;
}

@media (max-width: 600px) {

    html{
        padding: 0;
    }

    body{
        border-radius: 0;
        width: 100%; /* A página ocupa toda a largura da tela */
        box-shadow: none; /* Remove a sombra para uma aparência mais limpa */
        overflow-x: hidden; /* Remove a barra de rolagem horizontal */
    }

    .paragrafos p{
        line-height: 1.5;
        font-size: 1.1rem;
    }

    .imagens > img{
        width: 90%; /* A imagem ocupa 90% da largura da tela em dispositivos móveis */
    }

    img{
        margin: auto;
    }

    footer{
        border-radius: 0;
    }

    footer p{
        font-size: 0.7em;
    }
}
